//  write Normalize css down below
//  write your own css down below

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f1f1f1;
}
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

